/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

#wrapper{
  background-color: #005BAA;
 margin: auto;
 width: 100%;
}

nav a{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  color: black;
  width: 20%;
 height: 100px;
 padding-top: none;

}

nav a:hover{
 text-decoration: underline #005BAA;
}

nav{
  width: 100%;
 height: 2%;
  background-color: #F47222;
}

nav img{
  float: left;
}

a img{
 padding-top: 5px;
 padding-left:.25%;
 
}

iframe{
 float: right;
 padding-top: none;
}

article a{
 text-decoration: none;
 color: black;
 background-color: #f47222;
 padding: 1%;
}

article{
 background-color: #FFFFFF;
}

footer{
 float: left;
 background-color: #282828;
 width: 100%;
 color: white
}

footer a{
 text-decoration: none;
 color: white;
}

footer a:hover{
 text-decoration: underline;
}

#LogoFooter{
 padding-left: 2.5%;
 padding-top: 2.5%;
 width: 5%;
 height: auto;
 float: left;
}

#ContactFTC{
 Float: right;
 text-align: center;
 padding-top: none;
 padding-right: 10%;
 padding-bottom: 2%;
}

#ContactMakers{
  float: right;
  padding-right: 30%;
  text-align: center;
 }